<li id="micropost-<%= event.id %>" >

<span class="content"><%= link_to event.title, event %></span>
<span class="timestamp"> <%= event.date_of %></span>

<!-- <span class="content"><%= link_to "Invite people","#" %></span> -->

</li> 